<extend name="Public:base" />
<block name="content">
<style> 
.table-d table{ 
	border: 1px solid #eee;
    width: 30%;
	text-align: center;
	margin-bottom: 10px;
} 
.table-d table tr{
	line-height: 36px;
}
 .table-d table td{
	border: 1px solid #eee;
	line-height: 36px;
	padding-left: 0px;
}
 .V_input{
    width: 95px;
	height: 28px;
    line-height: 28px;
    color: #545454;
    border: 1px solid #dedede;
    margin: 5px 5px 5px 0;
} 
</style>
<link href="__PUBLIC__/admin/skin/user/Css/withdrawal_apply.css" rel="stylesheet" type="text/css" media="screen,projection" />
<div class="title02">新增用户</div>
    <form id="rzform" enctype="multipart/form-data">
        <table class="V_tb2">
          <tr class="td1">
            <th>用户名：</th>
            <td>
				<input type="text" name="user_name" class="V_input3" id="user_name" value="{$user_name}"/>
			</td>
          </tr>
          <tr class="td1">
            <th>用户密码：</th>
            <td><input type="text" name="password" class="V_input3" id="password"/></td>
          </tr>
          <tr class="td1">
            <th>商户密钥：</th>
            <td><input type="text" name="md5key" class="V_input3" id="md5key" value="{$md5key}" style="width: 236px;"/></td>
          </tr>
          <tr class="td1">
            <th>商户名称：</th>
            <td>
				<input type="text" name="company_name" class="V_input3" id="company_name"/>
			</td>
          </tr>
          <tr class="td1">
            <th>真实姓名：</th>
            <td><input type="text" name="truename" class="V_input3" id="truename"/></td>
          </tr>
          <tr class="td1">
            <th>身份证号：</th>
            <td><input type="text" name="id_card_num" class="V_input3" id="id_card_num"/></td>
          </tr> 
		  <tr class="td1">
            <th>手机号码：</th>
            <td><input type="text" name="mobile" class="V_input3" id="mobile"/></td>
          </tr>
		  <tr class="td1">
            <th>联系地址：</th>
            <td><input type="text" name="address" class="V_input3" id="address" style="width: 420px;"></td>
          </tr>		  
<!-- 		  <tr class="td1">
            <th>结算周期：</th>
            <td>
				<input type="text" name="period" class="V_input3" onkeyup="value=value.replace(/[^\d\.]/g,'');"/>
				<span style="font-size: 12px;color: red;">*数字,输入1,即T+1</span>			
			</td>
          </tr>			  
          <tr class="td1">
            <th>银行信息：</th>
            <td>
				<div class="divall">
				</div>
				<img onclick="add()" src="__PUBLIC__/admin/skin/images/add.png" style="margin-bottom: 5px;">
				<span style="font-size: 12px;color: red;">*同一客户,多张银行卡</span>
			</td>
          </tr>	 -->	  
		  <tr class="td1">
            <th>入金状态：</th>
            <td>
				<select name="is_lock" class="layui-input" style="display:block;">
					<option value="">请选择</option>
					<option value="2" selected>正常</option>
					<option value="1">锁定</option>
				</select>			
			</td>
          </tr>
		  <tr class="td1">
            <th>上级代理：</th>
            <td>
				<select name="parent_name" class="layui-input" style="display:block;">
					<option value="">无</option>
					<foreach name='dailiData' item='vo'>
					<option value="{$vo.id}">{$vo.truename}</option>
					</foreach>								
				</select>			
			</td>
          </tr>		  
		  <tr class="td1">
            <th>用户角色：</th>
            <td>
				<select name="role_id" class="layui-input" style="display:block;">
					<option value="">请选择</option>
					<foreach name='roleList' item='v'>
					<option value="{$v.id}">{$v.title}</option>
					</foreach>								
				</select>			
			</td>
          </tr>
          <tr class="td1">
            <th></th>
            <td>
			<button id="btnSubmit" class="V_btn4 submit ajaxSubmit_apply">确认添加</button>
			</td>
          </tr>
        </table>
</form>
<script type="text/javascript">
function slectTd(td){ 
	var tdid = td.value;
	var ajaxUrl = "{:U('Member/tdajax')}";
    $.getJSON(ajaxUrl,{tdid:tdid},function(data){ 
		//console.log(data);
		$("#dataTbody  tr:not(:first)").empty(""); //清空原有的选项 
		if(data.length==0){
			var tTr ='<tr><td colspan="3">暂无产品</td></tr>';
			$("#dataTbody").append(tTr);
		}else{
			$.each(data,function(index,array){ 
				var tTr="<tr>"+
					"<td>"+array.product_name+"</td>"+
					"<td>"+array.rote+"</td>"+
					"<td>"+
					"<input type='text' name='sell_rote[]' value='' class='V_input'>"+
					"<input type='hidden' name='product_sid[]' value='"+array.id+"' class='V_input'>"+
					"<input type='hidden' name='product_name[]' value='"+array.product_name+"' class='V_input'>"+
					"<input type='hidden' name='rote[]' value='"+array.rote+"' class='V_input'>"+
					"</td>"
					"</tr>";
				$("#dataTbody").append(tTr);
			}); 		
		}

		
    }); 
}
</script>
<script type="text/javascript">
function getSelectVal(num,str){ 
	var ajaxSelect = "{:U('Client/bankajax')}";
	//alert(str);
    $.getJSON(ajaxSelect,function(data){ 
        var smallname = $("#smallname"+num); 
        $("option",smallname).remove(); //清空原有的选项 
        $.each(data,function(index,array){ 
			(array['bankname']==str)?a='selected="selected"':a=''; //选中
            var option = '<option value="'+array['bankname']+'" '+a+'>'+array['bankname']+'</option>'; 
            smallname.append(option); 
        }); 
    }); 
}
</script>
<script type="text/javascript"> 
var num = 2;                 
function add(){	
	var bankname = arguments[0] ? arguments[0] :'';
	var bank_card_num = arguments[1] ? arguments[1] : '';	
	var str = '';
		str +='<div id="divson'+num+'">'
				+'银行名称:'
				+'<select name="canshu1[]" id="smallname'+num+'" style="width:100px;">'
				+'</select>'
				+'银行卡号:'
				+'<input type="text" name="canshu2[]" class="V_input3" id="canshu2'+num+'"/>'
				+'<img onclick="del('+num+')"src="__PUBLIC__/admin/skin/images/jian.png">'
			 +'</div>';	
	$(".divall").append(str);
	//alert(bankname);
	$("#canshu1" + num).attr('value', bankname);
	$("#canshu2" + num).attr('value', bank_card_num);
	getSelectVal(num,bankname);
	num++;

}
function del(num){
	  $("#divson"+num).remove();
}
</script>
<script type="text/javascript" src="__PUBLIC__/js/jquery.form.js"></script>
<script type="text/javascript">  
	$(function () {  
		var ajaxurl="{:U('Member/add')}";
		$("#btnSubmit").click(function () { 
				$('#rzform').ajaxForm({  
					type: "post",  
					url: ajaxurl,
					dataType: 'json',  
					beforeSend:function(result){ 
						$("#btnSubmit").attr({ disabled: "disabled" });
						//index = layer.load();	
						index = layer.msg('提交中...', {icon: 16,shade: [0.5, '#f5f5f5'], time:20000}) ;						
					}, 					
					success: function (result) {  
						if(result.status=='1'){
						
							layer.alert(result.info,{
							   icon: 1,
							   closeBtn: 0,
							   btn: ['确定'],
							   yes: function(index){
								 //window.location.reload();
								 window.location.href = result.url;
							   }
							});	
							//alert(result.info);
							//layer.alert(result.info, {icon: 1});
							//window.location.href = result.url;
						}else{
							layer.alert(result.info, {icon: 2});
						}
					},
					complete: function () {
						$("#btnSubmit").removeAttr("disabled");
						layer.close(index);
					}					
				});
		});  
	});  
</script>
</block> 