<extend name="Public:base" />
<block name="content">
<link href="__PUBLIC__/admin/skin/user/Css/withdrawal_apply.css" rel="stylesheet" type="text/css" media="screen,projection" />
<div class="title02">发起代付</div>
    <form id="rzform">
	   <input name="txid" type="hidden" value="{$dfInfo.id}">
	   <input id="sendid" name="sendid" type="hidden" value="{$sendid}">
	    <table class="V_tb2">
          <tr class="td1">
            <th>出金通道：</th>
            <td>
				<select name="platform" class="layui-input" style="display:block;" onchange="ShowImage(parseInt(this.value));">
					<foreach name='tdList' item='v'>
					<option value="{$v.id}">{$v.platform}</option>
					</foreach>								
				</select>					
			</td>
          </tr>
		</table>	  
        <table class="V_tb2">
          <tr class="td1">
            <th>出款金额：</th>
            <td><input id="WITHDRAW_MONEY" type="text" name="WITHDRAW_MONEY" class="V_input3" value="{$dfInfo['amount']-2}" onkeyup="value=value.replace(/[^\d\.]/g,'');"/>元</td>
          </tr>
          <tr class="td1">
            <th>收款人姓名：</th>
            <td>
				<input type="text" name="PERSON_NM" class="V_input3" value="{$dfInfo.bank_account}"/>
			</td>
          </tr>
          <tr class="td1">
            <th>收款人卡号：</th>
            <td>
				<input type="text" name="CARD_NO" class="V_input3" value="{$dfInfo.bank_card_num}"/>
			</td>
          </tr>
          <tr class="td1">
            <th>收款开户行：</th>
            <td>
				<input type="text" name="BNK_NM" class="V_input3" value="{$dfInfo.bank}"/>
			</td>
          </tr>
          <tr class="td1">
            <th>银行代号：</th>
            <td><input type="text" name="BNK_NO" class="V_input3" value="CCB" /></td>
          </tr>
          <tr class="td1">
            <th>联行号：</th>
            <td>
			<input type="text" class="V_input3" value="308551024043" name="BNK_CD"/>
			<a href="https://www.hebbank.com/corporbank/otherBankQueryWeb.do" target="_blank">点击查询</a>
			</td>
          </tr>
          <tr class="td1">
            <th>收款人身份证：</th>
            <td>
				<input type="text" name="CRP_ID_NO" class="V_input3" value="431121xxxxxxxx521X"/>
			</td>
          </tr>
          <tr class="td1">
            <th>收款人手机号：</th>
            <td>
				<input type="text" name="PHONE_NO" class="V_input3" value="18589052556"/>
			</td>
          </tr>
		  <tr class="td1">
            <th>代付方式：</th>
            <td>
				<select name="PAY_ID" class="layui-input" style="display:block;">
					<option value="">请选择</option>
					<option value="D0" selected>D0</option>
					<option value="T1">T1</option>
				</select>			
			</td>
          </tr>	
<!--           <tr class="td1">
            <th>操作验证码：</th>
            <td>
				<input type="text" name="yzmCode" class="V_input3"/>
				<input id="yzmSend" type="button" value="获取验证码" class="Annkeld1">
			</td>
          </tr> -->		  
          <tr class="td1">
            <th></th>
            <td>
			<button id="btnSubmit" class="V_btn4 submit ajaxSubmit_apply">确认支付</button>
			</td>
          </tr>
        </table>
</form> 
<script type="text/javascript">  
function ShowImage(id){
    if(id==69){  //高通不减
		var money = $('#WITHDRAW_MONEY').val();
		var money = Number(money)+2;
		$('#WITHDRAW_MONEY').val(money); 
    }
}
</script>
<script type="text/javascript" src="__PUBLIC__/js/jquery.form.js"></script>
<script type="text/javascript"> 
	var countdown=60; 
	function settime(obj) { 
		if (countdown == 0) { 
			obj.removeAttr("disabled");    
			obj.val("获取验证码"); 
			countdown = 60; 
			return;
		} else { 			
			obj.attr("disabled", true); 
			obj.val("重新发送(" + countdown + ")"); 
			countdown--; 
		} 
	setTimeout(function() { 
		settime(obj) }
		,1000) 	
	}
</script>
<script type="text/javascript">  
	$(function () {  
		var ajaxurl="{:U('Draw/regSms')}";
		$("#yzmSend").click(function () {
			//alert('1111');return;
			var mobile = '';
			var sendid = $('#sendid').val();
			if(sendid!=''){
				$.ajax({  
					type: "post",  
					url: ajaxurl,  
					data: {sendid:sendid},
					success: function(result) {
						var a = String($.trim(result));
						if(a == "发送成功"){
							settime($("#yzmSend"));
						}else{
							layer.alert(a, {icon: 2});
						}
					}  
				});			
			}
			
			
			return false;  
		});  
	});  
</script>
<script type="text/javascript">  
	$(function () {  
		var ajaxurl="{:U('Draw/pay2')}";
		$("#btnSubmit").click(function () { 
				$('#rzform').ajaxForm({  
					type: "post",  
					url: ajaxurl,
					dataType: 'json',  
					beforeSend:function(result){ 
						$("#btnSubmit").attr({ disabled: "disabled" });
						//index = layer.load();	
						index = layer.msg('提交中...', {icon: 16,shade: [0.5, '#f5f5f5'], time:20000}) ;						
					}, 					
					success: function (result) {  
						if(result.status=='1'){
						
							layer.alert(result.info,{
							   icon: 1,
							   closeBtn: 0,
							   btn: ['确定'],
							   yes: function(index){
								 //window.location.reload();
								 window.location.href = result.url;
							   }
							});	
							//alert(result.info);
							//layer.alert(result.info, {icon: 1});
							//window.location.href = result.url;
						}else{
							layer.alert(result.info, {icon: 1});
						}
					},
					complete: function () {
						$("#btnSubmit").removeAttr("disabled");
						layer.close(index);
					}					
				});
		});  
	});  
</script>

</block> 