<extend name="Public:base" />
<block name="content">
<style> 
.table-d table{ 
	border: 1px solid #eee;
    width: 30%;
	text-align: center;
} 
.table-d table tr{
	line-height: 36px;
}
 .table-d table td{
	border: 1px solid #eee;
	line-height: 36px;
}
 .V_input{
    width: 188px;
	height: 28px;
    line-height: 28px;
    color: #545454;
    border: 1px solid #dedede;
    margin: 5px 5px 5px 0;
} 
</style> 
<script type="text/javascript" src="__PUBLIC__/js/myAjax.js"></script>
        <div class="title02">通道设置</div>
			<form id="rzform" enctype="multipart/form-data">
				<table class="V_tb2">
				  <tr class="td1">
					<th>通道名称：</th>
					<td>
						<input type="text" name="platform" class="V_input3"/>
					</td>
				  </tr>
				  <tr class="td1">
					<th>控制器名称：</th>
					<td>
						<input type="text" name="controller" class="V_input3"/>
					</td>
				  </tr>
				  <tr class="td1">
					<th>结算属性：</th>
					<td>
						<select name="period" class="layui-input" style="display:block;">
							<option value="">请选择</option>
							<option value="T" selected>T</option>
							<option value="D">D</option>
						</select>			
					</td>
				  </tr>
				  <tr class="td1">
					<th>接口类文件：</th>
					<td>
						<input type="file" name="td_file" class="V_input3"/>
						<a href="<?php echo 'http://'.$_SERVER['HTTP_HOST'].'/Public/Uploads/demol.rar'?>">demo类下载</a>
					</td>
				  </tr>
				  <tr class="td1">
					<th>包含产品：</th>
					<td style="padding: 10px;">
						<div class="table-d">
							<table class="table table-bordered table-striped dataTable">
								<tr style="background: #b4b7b7;">
									<td>产品名称</td>
									<td>成本利率</td>
								</tr>
								<foreach name="productList" item="v">
								<tr>
									<td>{$v.product_name}<input type="hidden" name="canshu1[]" value="{$v.id}" class="V_input"/></td>
									<td><input type="text" name="canshu2[]" class="V_input"/>‰</td>
								</tr>
								</foreach>
							</table>
							<span style="font-size: 12px;color: red;line-height: 25px;">*若千3则填3,若接口商无此产品则保持为空</span>
						</div>
					</td>
				  </tr>			  
				  <tr class="td1">
					<th></th>
					<td>
					<button id="btnSubmit" class="V_btn4 submit ajaxSubmit_apply">添加</button>
					</td>
				  </tr>
				</table>
			</form>
        </div>		
<script type="text/javascript" src="__PUBLIC__/js/jquery.form.js"></script>
<script type="text/javascript">  
	$(function () {  
		var ajaxurl="{:U('Platform/add')}";
		$("#btnSubmit").click(function () { 
				$('#rzform').ajaxForm({  
					type: "post",  
					url: ajaxurl,
					dataType: 'json',  
					beforeSend:function(result){ 
						$("#btnSubmit").attr({ disabled: "disabled" });
						//index = layer.load();	
						index = layer.msg('提交中...', {icon: 16,shade: [0.5, '#f5f5f5'], time:20000}) ;						
					}, 					
					success: function (result) {  
						if(result.status=='1'){
						
							layer.alert(result.info,{
							   icon: 1,
							   closeBtn: 0,
							   btn: ['确定'],
							   yes: function(index){
								 //window.location.reload();
								 window.location.href = result.url;
							   }
							});	
							//alert(result.info);
							//layer.alert(result.info, {icon: 1});
							//window.location.href = result.url;
						}else{
							layer.alert(result.info, {icon: 2});
						}
					},
					complete: function () {
						$("#btnSubmit").removeAttr("disabled");
						layer.close(index);
					}					
				});
		});  
	});  
</script>
</block>		