<extend name="Public:base" />
<block name="content">
<link href="__PUBLIC__/admin/skin/user/Css/withdrawal_apply.css" rel="stylesheet" type="text/css" media="screen,projection" />
<div class="title02">demo下载</div>
    <form id="rzform">
        <table class="V_tb2">
          <tr class="td1">
            <th>php demo：</th>
            <td>
			<a href="<?php echo 'http://'.$_SERVER['HTTP_HOST'].'/Public/Uploads/demo.rar'?>">点击下载</a>
			<a href="<?php echo 'http://demo.haixiab.pw/'?>" target="_blank">访问demo链接</a>
			</td>
          </tr>
          <tr class="td1">
            <th>java demo：</th>
            <td>正在开发中</td>
          </tr>
          <tr class="td1">
            <th>.NET demo：</th>
            <td>正在开发中</td>
          </tr>	  
        </table>
	</form>
</block> 