<extend name="Public:base" />
<block name="content">
<link href="__PUBLIC__/admin/skin/user/Css/withdrawal_apply.css" rel="stylesheet" type="text/css" media="screen,projection" />
<div class="title02">绑定手机</div>
    <form id="rzform">
		<input name="user_name" type="hidden" value="{$_SESSION['user_name']}"/>
        <table class="V_tb2">
          <tr class="td1">
            <th>用户名：</th>
            <td>
				<input type="text" name="user_name" class="V_input3" value="{$_SESSION['user_name']}" disabled="disabled"/>
			</td>
          </tr>
		  <tr class="td1">
            <th>当前手机号：</th>
            <td>
			{$userData.mobile}
			<!-- <input type="text" name="mobile" class="V_input3" value="{$userData.mobile}"/> -->
			</td>
          </tr>
<!-- 		  <tr class="td1">
            <th>确认密码：</th>
            <td><input type="password" name="renewpassword" class="V_input3"/></td>
          </tr>
          <tr class="td1">
            <th></th>
            <td>
			<button id="btnSubmit" class="V_btn4 submit ajaxSubmit_apply">确定修改</button>
			</td>
          </tr> -->
        </table>
</form>
<script type="text/javascript" src="__PUBLIC__/js/jquery.form.js"></script>
<script type="text/javascript">  
	$(function () {  
		var ajaxurl="{:U('Acount/edit')}";
		$("#btnSubmit").click(function () { 
				$('#rzform').ajaxForm({  
					type: "post",  
					url: ajaxurl,
					dataType: 'json',  
					beforeSend:function(result){ 
						$("#btnSubmit").attr({ disabled: "disabled" });
						//index = layer.load();	
						index = layer.msg('修改中...', {icon: 16,shade: [0.5, '#f5f5f5'], time:20000}) ;						
					}, 					
					success: function (result) {  
						if(result.status=='1'){
						
							layer.alert(result.info,{
							   icon: 1,
							   closeBtn: 0,
							   btn: ['确定'],
							   yes: function(index){
								 //window.location.reload();
								 window.location.href = result.url;
							   }
							});	
							//alert(result.info);
							//layer.alert(result.info, {icon: 1});
							//window.location.href = result.url;
						}else{
							layer.alert(result.info, {icon: 2});
						}
					},
					complete: function () {
						$("#btnSubmit").removeAttr("disabled");
						layer.close(index);
					}					
				});
		});  
	});  
</script>
</block> 