<extend name="Public:base" />
<block name="content">
<script type="text/javascript" src="__PUBLIC__/js/myAjax.js"></script>
        <div class="title02">代扣列表</div>
		<form id="search_form" action="{:U('Deduct/lst')}" method="POST">
			<table width="100%" border="0" cellspacing="0" cellpadding="0" class="V_tb2">
				<tr >
					<td>
						日期从:
						<input name="start" value="{$start}" type="text" class="V_input1" style="width:128px;" size="12" onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" />至:<input name="end" value="{$end}" type="text" class="V_input1" style="width:128px;" size="12" onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" />
						<!--&nbsp;类型:
						<select name="ctl00$ContentPlaceHolder1$channelId" id="ctl00_ContentPlaceHolder1_channelId" class="V_input1" style="width:95px;">
							<option selected="selected" value="0">所有通道</option>
							<option value="102">在线银行</option>
							<option value="101">支付宝</option>
							<option value="100">财付通</option>
							<option value="99">微信</option>
						</select>
						&nbsp;状态:
						<select name="ctl00$ContentPlaceHolder1$Success" id="ctl00_ContentPlaceHolder1_Success" class="V_input1" style="width:95px;">
							<option value="0">所有</option>
							<option selected="selected" value="2">成功</option>
							<option value="4">失败</option>
							<option value="1">处理中</option>
						</select>
						&nbsp;下发状态:
						<select name="ctl00$ContentPlaceHolder1$ddlNotifyStatus" id="ctl00_ContentPlaceHolder1_ddlNotifyStatus" class="V_input1" style="width:95px;">
							<option selected="selected" value="所有">所有</option>
							<option value="1">处理中</option>
							<option value="2">已成功</option>
							<option value="4">失败</option>

						</select> -->
						&nbsp;客户姓名:
						<label><input name="payment_name" type="text" class="V_input1" value="{$payment_name}"/></label>
						&nbsp;身份证号:
						<label><input name="payment_id_card" type="text" class="V_input1" value="{$payment_id_card}"/></label>
						&nbsp;录入人:
						<label><input name="deductor_name" type="text" class="V_input1" value="{$deductor_name}" /></label>
						&nbsp;扣款状态:
						<select name="status" class="V_input1">
							<option selected="selected" value="">所有</option>
							<option value="待扣款" <if condition="$status eq '待扣款'">selected="selected"</if>>待扣款</option>
							<option value="成功" <if condition="$status eq '成功'">selected="selected"</if>>成功</option>
							<option value="失败" <if condition="$status eq '失败'">selected="selected"</if>>失败</option>
						</select>
						&nbsp;结算状态:
						<select name="close_state" class="V_input1">
							<option selected="selected" value="">所有</option>
							<option value="待结算" <if condition="$close_state eq '待结算'">selected="selected"</if>>待结算</option>
							<option value="已结算" <if condition="$close_state eq '已结算'">selected="selected"</if>>已结算</option>
						</select>						
						&nbsp;
							<input type="submit" name="" value="搜索" class="Annkeld1"/>
							<input type="button" onclick="searchqk()" value="清空条件" class="Annkeld1"/>
						</label>
					</td>
				</tr>
			</table>
		</form>	
        </div>
        <div class="block04">
            <table id="dbTable" class="ipList" width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr class="title">
                    <td width="20" class="icon"><input id="check_all" type="checkbox" name="del_system[]" value=""></td>
                    <td>提交时间</td>
                    <td>缴费人姓名</td>
                    <td>手机号</td>
                    <td>身份证号码</td>
                    <td>扣款银行</td>
                    <td>银行卡号</td>
                    <td>扣款金额(元)</td>
                    <td>提交人</td>
                    <td>扣款状态</td>
                    <td>失败原因</td>
                    <td>扣款发起时间</td>
					<td>结算状态</td>
                    <td>预计结算时间</td>
                    <td>待结算金额(元)</td>
                    <td>实际结算时间</td>
                    <td>操作</td>
                </tr>
				<tbody id="check_list">
				<foreach name = "memberlist" item = "vo">
                <tr id="{$vo.id}" class="td1">
                    <td width="20" class="icon"><input type="checkbox" name="del_system[]" value="{$vo.id}" ></td>
					<td>{$vo['addtime']?$vo['addtime']|date='Y-m-d H:i:s',###:''}</td>
					<td>{$vo.payment_name}</td>
					<td>{$vo.payment_mobile}</td>
					<td>{$vo.payment_id_card}</td>
					<td>{$vo.bank}</td>
					<td>{$vo.bank_card_num}</td>
					<td>{$vo.amount}</td>
					<td>{$vo.deductor_name}</td>
					<td>{$vo.status}</td>
					<td>{$vo.description|msubstr=0,10,'utf-8',false}</td>
					<td>{$vo['action_time']?$vo['action_time']|date='Y-m-d H:i:s',###:''}</td>					
					<td>{$vo.close_state}</td>
					<td>{$vo['pre_close_time']?$vo['pre_close_time']|date='Y-m-d H:i:s',###:''}</td>
					<td>{$vo['close_amount']}</td>
					<td>{$vo['close_time']?$vo['close_time']|date='Y-m-d H:i:s',###:''}</td>
					<td>
						
						<a href="{:U('Deduct/apply',array('id'=>$vo['id']))}" class="smallbtn">立即扣款</a>
						<a href="{:U('Deduct/edit',array('id'=>$vo['id']))}" class="smallbtn">编辑</a> 
						<a class="smallbtn" onclick="delfunc(this)" data-url="{:U('Deduct/del')}" data-id="{$vo.id}">删除</a>
					</td>
                </tr>
				</foreach>
                <tr class="td1">
                    <td width="20" class="icon">　</td>
					<td>　</td>
					<td>　</td>
					<td>　</td>
					<td> 　</td>
					<td>　</td>
					<td>　</td>
					<td>{$kktotal}</td>
					<td>　</td>
					<td>　</td>
					<td>　</td>
					<td>　</td>					
					<td>　</td>
					<td>　</td>
					<td>　</td>
					<td>  </td>
                </tr>				
				</tbody>				
                <!-- 隔行变色 -->
                <script language="JavaScript">
                    $(function() {
                        $(".td1").each(function(i) { this.style.backgroundColor = ['#fff', '#fafafa'][i % 2] })
                    })
                </script>
            </table>
        </div>
		<div style="clear: both;"></div>
		<div style="margin-top: 10px;">
			<a href="javascript:;" id="del_all" >删除</a>		
		</div>
		<div class="pagelist">
			<div id="PageContent" class="scott">{$page}</div>
		</div>
<script>
	$("#check_all").click(function(){ 
		if(this.checked){   
			$("#check_list :checkbox").prop("checked", true);  
		}else{   
			$("#check_list :checkbox").prop("checked", false);
		}   
	});
</script>
<script>
$("#del_all").click(function(){ 
	var chk_value =[]; 
	$('input[name="del_system[]"]:checked').each(function(){ 
		chk_value.push($(this).val()); 
	});
	if(chk_value==""){
	   layer.alert('请选择删除的项目!', {icon: 2});
	   return false;
	}else{
		layer.confirm('确认删除？', {
			  btn: ['确定','取消'] //按钮
			}, function(){
				var ajaxurl="{:U('Deduct/delBatch')}";
				$.ajax({
					type:"POST",
					url:ajaxurl,
					data:{key:chk_value},
					dataType: "json", 
					success: function(result) {
							if(result.status=='1'){					
								layer.alert(result.info,{
								   icon: 1,
								   closeBtn: 0,
								   btn: ['确定'],
								   yes: function(index){
									 //window.location.reload();
									 window.location.href = result.url;
								   }
								});
								//alert(result.info);
								//layer.alert(result.info, {icon: 1});
								//window.location.href = result.url;
							}else{
								layer.alert(result.info, {icon: 2});
							}
						}
				});	
			}
		);

	}		
});
</script>
<script>
$(function(){
    $("#dbTable tr ").dblclick(function() {
		//alert($(this).attr('id'));
		var tar_id = $(this).attr('id');
		var tar_url="{:U('Deduct/detail')}?id="+tar_id;	
		window.location.href = tar_url;
    });
})
</script>
</block>		